@use "../../abstracts/animations.scss";


.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    background: white;
    padding: 4rem;
    max-width: 170rem;

    &__color {
        width: 30rem;
        flex-grow: 1;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.4rem solid rgba(37, 42, 52, 0.2);
        border-radius: 1rem;
        overflow: hidden;
        transition: 0.2s;
        position: relative;
        animation-name: popupCard;
        animation-duration: 0.6s;
        animation-fill-mode: backwards;
    }

    @for $i from 1 through 100{
        &__color:nth-of-type(#{$i}){
            animation-delay: #{$i / 10 } + "s";
        }
    }

    &__color:hover {
        cursor: pointer;
        transform: translateY(-0.5rem)
    }


    // &__color:hover &__circle.colors__circle--selected{
    //     transform: none;
    // }

    &__circle {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        transition: 0.2s transform;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

        &--selected {
            transform: scale(3);
        }

    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation-name: popup;
        animation-duration: 0.6s;
        display: none;
    }

    .colors__circle--selected + .colors__text{
        display: block;
    }
}